@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');

$log-components-borders: false;
$font-color: black;
$font-color-reversed: white;
$main-color: #00c4ff;

@mixin log() {
  @if $log-components-borders {
    border: black 1px solid;
  }
}

@mixin underline($color, $size) {
  border-bottom: $color solid $size;
}

* {
  box-sizing: border-box;
  @include log();
}

html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: $font-color;
}

a, a:visited {
  color: $font-color;
  display: inline-block;
  text-decoration: none;

  $underlineSize: 1px;

  &:link {
    @include underline(#000, $underlineSize);
  }

  &:hover {
    $color: mix($font-color, $font-color-reversed, 20);
    color: $color;
    @include underline($color, $underlineSize);
  }

  &:active, &.current {
    color: $main-color;
    @include underline($main-color, $underlineSize);
  }
}

button, input[type=submit] {
  border: 2px solid $font-color;
  font: inherit;
  color: $font-color;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1em;

  transition-property: box-shadow, color, border-color;
  transition-duration: 0.25s;

  &:hover {
    box-shadow: inset 0 0 0 2em $font-color;
    color: $font-color-reversed;

    &.red {
      box-shadow: inset 0 0 0 2em #d22;
    }
  }

  &:active {
    box-shadow: inset 0 0 0 2em $main-color;
    transition-duration: 0.05s;
  }
}

#root {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}

.header {

  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 0 10%;
  background-color: mix($font-color, $font-color-reversed, 80);

  $underlineSize: 3px;

  > a {
    color: $font-color-reversed;
    padding: 20px;

    &:link {
      @include underline(#0000, $underlineSize);
    }

    &:hover {
      color: $font-color-reversed;
      @include underline($font-color-reversed, $underlineSize);
    }

    &:active {
      color: $main-color;
      @include underline($main-color, $underlineSize);
    }
  }
}

.main {
  padding: 40px 10% 0;

  .entity-menu {

    > nav {

      margin-bottom: 20px;
      @include underline($font-color, 1px);
      padding-bottom: 20px;

      > a {
        margin: 0 10px;
      }
    }
  }
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 1rem;

  background-color: mix($font-color, $font-color-reversed, 80);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding: 0 5%;

  > a {
    color: $font-color-reversed;
    margin: 20px 20px;

    :link {
      @include underline($font-color-reversed, 1px);
    }
  }
}